<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.spidy.memecreator">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:name=".activities.YourMemeActivity"/>
        <activity
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:name=".activities.YourGifActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.GifEditorActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.ImageSliderActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.ShowTemplateActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.StoreActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.CollageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.FileChooserActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditorActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize" />

        <provider
            android:name=".providers.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.InstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1517962596069817~8780968726"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>